<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style.css" />
</head>
<body>
    <header id="header" class="fixed-top">
        <nav id="nav-bar">
          <a href="../index.html">
            <div class="logo">
              <img
                id="header-img"
                src="https://i.ibb.co/qC15qSv/logo.png"
                alt="store logo"
              />
            </div>
    
          </a>
          <ul class="lista">
            <li class="" role="presentation"><a class="nav-link" href="#category">Categorias</a></li>
            <li class="" role="presentation"><a class="nav-link" href="#">Conocenos</a></li>            
          </ul>
        </nav>
      </header>
      <br><br><br><br><br><br>
    <h1>CELULARES DISPONIBLES</h1>
    <section class="contenedor">
        <div class="card-celulares">
            <h3>Nokia 1100</h3>
            <h5>Precio: 5600</h5>
            <img class="imagen" src="../assets/img/nokia-1100-1149-g-alt.jpg" alt="">
        </div>
        <div class="card-celulares">
            <h3>Motorola v3</h3>
            <h5>Precio: 5600</h5>
            <img class="imagen" src="../assets/img/motorola-v3-1064-g-alt.jpg" alt="">
        </div>
        <div class="card-celulares">
            <h3>sony ericson w580</h3>
            <h5>Precio: 5600</h5>
            <img class="imagen" src="../assets/img/sony-ericsson-w580-1959-g-alt.jpg" alt="">
        </div>
        
    </section>
    <footer>
        <div class="text-center text-dark p-3" >
            © 2022 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">TechnoShop.com</a>
        </div>
    </footer>
</body>
</html>