<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag_tabs</title>
</head>
<header>

</header>
<body>
    <div>
        <h2>Lo Mas nuevo en el mercado</h2>
        <img src="../assets/img/mejores-tablets-2020_thumb1200_16-9.jpg" alt="">
    </div>

    <div>
        <h2>Perfecta para trabajo</h2>
        <img src="../assets/img/61nONxSFUnL._AC_SY355_.jpg" alt="">
    </div>

    <div>
        <h2>Versatilidad donde vallas</h2>
        <img src="../assets/img/Pantalla-de-Samsung-Galaxy-Tab-S8.jpg" alt="">
    </div>
    
</body>
<footer>

</footer>
</html>